$header-border: 3px solid #DEDEDE;
$work-experience-width: 60%;
$body-padding: 7%;
$section-border: 1px solid darkgrey;
$section-margin: 0 0 0 1em;
$job-detail-font-size: 1.1em;
$between-details-margin: 5px;

body {
	padding-left: $body-padding;
	padding-right: $body-padding;
	font-family: 'Titillium Web', sans-serif;

	a {
		cursor: pointer;
	}
}

header {
	margin-bottom: 10px;
	a {
		color: black;
		font-weight: 600;
		text-decoration: none;
		&:hover {
			color:black;
		}
	}

	.name {
		font-size: 4em;
		text-align: center;
		border-bottom: $header-border;
	}

	#contact {
		text-align: center;
		border-bottom: $header-border;
		padding: 7px 0 7px 0;
		#email {
			//text-align: left;
		}
		#github {
			//text-align: right;
		}
		#website {
			//text-align: right;
		}
		img {
			height: 1.4em;
			vertical-align: text-top;
		}
	}
}

main {
	li, ul {
		line-height: 120%;
	}

	.subject {
		margin-bottom: 2em;
	}

	.col {
		display: block;

		h3 {
			font-size: 1.3em;
			font-weight: 500;
		}
		
		section {
			border-left: $section-border;

			.jobTitle {
				font-weight: 600;
				margin-bottom: 0;
				font-size: $job-detail-font-size
			}

			.companyName {
				font-style: italic;
			}

			.details {
				display: inline-block;
				margin-bottom: 10px;
				font-size: $job-detail-font-size - 0.1;
			}

			.jobInfo {
				padding-left: 1em;
			}

			.when {
				float: right;
			}

			li {
				margin-bottom: $between-details-margin;
			}
		}
	}

	#workExperience {
		//width: $work-experience-width;
	}

	aside {
		float: right;
		width: 100% - $work-experience-width;
		font-size: 1.1em;

		#education {
			#school {
				font-weight: 600;
			}
		}

		ul {
			margin: $section-margin;
			margin-bottom: $between-details-margin;
			padding: 0;
			font-size: 0.9em;
		}

		#expectedDate {
			float: right;
			//margin-left: 1em;
			font-size: 0.75em;
		}

		#course-work {
			font-size: 0.8em;
		}

		.subjectRight {
			margin-bottom: 0.7em;
		}
	}
}

@media print {
	a[href]:after {
		content: none !important;
	}

	h3 { font-size: 1.2em !important; }

	.name {  font-size: 3.2em !important; }
	#contact { font-size: 0.8em !important }

	#workExperience {
		float: left !important;
		width: $work-experience-width !important;
		display: inline-block !important;
	}

	aside {
		float: right !important;
		display: inline-block !important;
		width: 97% - $work-experience-width !important;
	}

	#otherSkills {
		h3 { font-size: 1.1em !important; }
	}

	#course-work {
		font-size: 0.7em !important;
	}

	ul { font-size: 0.775em !important; }

	#expectedDate { 
		font-size: 0.6em !important;
		margin-left: 2em; 
	}
}
